{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Booking{% endblock %}

{% block content %}

<div class="container" style="max-width: 800px; margin: auto;">
    <h2>Edit Booking</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <!-- Unavailable booking message -->
        <div class="alert alert-danger text-center w-75 mx-auto my-3" role="alert">
            <em>This date and time combination is unavailable, please choose again.<em>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                {{ form.name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.date|as_crispy_field }}
                {% if form.date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.date.errors|safe }}
                </div>
                {% endif %}
                {{ form.time|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.cat_name|as_crispy_field }}
                {{ form.breed|as_crispy_field }}
                {{ form.color|as_crispy_field }}
                {{ form.gender|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" style="background-color: #1c55a6;">Submit</button>
    </form>
</div>

{% endblock %}