body {
    background-color: #ffffff;
}

.brand {
    font-family: cursive;
    font-size: 2.4rem;
    font-weight: 900;
    color: #00660a;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #ffffff;
}

.dark-bg {
    background-color: #00660a;
}

.main-bg {
    background-color: #Ffffff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    width: 50%;
    left: -2px;
}    

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: transparent;
    margin: 2px;
}

.masthead {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}

.masthead img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    object-position: top; 
}

.masthead-text {
    color: #000000;
    margin-top: 0;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    height: auto; 
    width: 100%; 
    margin-bottom: 0; 
}

.masthead-image img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    object-position: center; 
}

.post-link {
    text-decoration: none;
    color: #000;
}

.post-link:hover,
.page-link {
    color: #B60202;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #000000;
}

.btn-signup,
.btn-edit {
    background-color: #1c55a6;
    color: #ffffff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ffffff;
    color: #1c55a6;
}

.link {
    color: #1c55a6;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #1c55a6;
    text-decoration: underline;
}

.btn-like {
    color: #B60202;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #ffffff;
    background: #B60202;
}

.btn-like:hover,
.btn-like:active {
    color: #B60202;
    background: transparent;
    border: none;
}

.faded {
    color: #1c55a6;
}

.approval {
    color: #B60202;
}

.navbar-text-muted {
    font-family: cursive; 
    font-size: 1.4rem; 
    font-weight: bold; 
    color: #664D00;
}

.nav-link {
    font-family: 'Arial', sans-serif; 
    font-size: 1.0rem; 
    font-weight: bold; 
    color: #1c55A6;
    text-transform: uppercase; 
}

.nav-link:hover {
    color: #0552BD; 
    text-decoration: underline; 
}

.nav-link.active {
    color: #0552BD; 
}

.card-text {
    margin-top: 0; 
    padding-top: 0; 
}