{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if about.profile_image and about.profile_image.url %}
                {% if "placeholder" in about.profile_image.url %}
                <img src="{% static 'images/cat.jpg' %}" class="profile-image" alt="{{ about.title }}">
                {% else %}
                <img src="{{ about.profile_image.url }}" class="profile-image" alt="{{ about.title }}">
                {% endif %}
            {% else %}
                <img src="{% static 'images/cat.jpg' %}" class="profile-image" alt="{{ about.title }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h2 style="color: #664d00; font-family: cursive; font-size: 1.4rem; font-weight: bold;">
                {{ about.title }}
            </h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2 style="color: #00660a; font-family: cursive; font-size: 1.4rem; font-weight: bold;">
                Let's collaborate!
            </h2>
            <p>I believe in the power of sharing and collaboration, so if you want to donate, adopt a cat, volunteer at a cat cafe or hotel, or just share your ideas, we'd love to hear from you. Fill out the form and we'll get to work right away.</p>

            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit" style="background-color: #1c55a6; border-color: #1c55a6;">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}