body {
    background-color: #ffffff;
}

.brand {
    font-family: cursive; /* フォントを cursive に変更 */
    font-size: 2.4rem;
    font-weight: 900;
    color: #00870e;
}

.light-bg {
    background-color: #ffffff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #ffffff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #ffffff;
    color: #2A74DB;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ffffff;
    color: #2A74DB;
}

.link {
    color: #2A74DB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #050c58;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.text-muted {
    color: #8F6B00 !important;
}

.navbar-text.text-muted {
    font-family: cursive; /* フォントを cursive に変更 */
    font-size: 1.6rem; /* フォントサイズを変更 */
    font-weight: 700; /* フォントの太さを変更 */
    color: #8F6B00 !important; /* テキストの色を変更 */
}

.not-logged-in {
    color: #000000; /* ここで色を指定します。例として黒色に設定 */
}

.nav-link {
    color: #2A74DB !important; /* 通常時の色 */
    font-weight: normal; /* 通常時のフォントの太さ */
}

.nav-link:hover,
.nav-link.active {
    color: #0A2A5B !important; /* ホバー時とアクティブ時の色をさらに濃くする */
    font-weight: bold; /* ホバー時とアクティブ時のフォントの太さを太字にする */
}

