body {
    background-color: #ffffff;
}

.brand {
    font-family: cursive; /* フォントを cursive に変更 */
    font-size: 2.4rem;
    font-weight: 900;
    color: #00870e;
}

.light-bg {
    background-color: #ffffff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #ffffff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
 }

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: transparent;
    margin: 4px;
}

.masthead {
    margin-top: 5%;
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100%;
}

.masthead-text {
    color: #000000;
    position: relative;
}

.masthead-image {
    position: relative;
    width: 100%;
    height: auto;
}

.masthead-image img {
    width: 100%; /* 画像の幅を100%に設定 */
    height: auto; /* 画像の高さを100%に設定 */
    object-fit: contain; /* 画像を枠全体にカバーするように調整 */
    object-position: center; /* 画像の位置を中央に設定 */
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #8F6B00;
}

.btn-signup,
.btn-edit {
    background-color: #2A74DB;
    color: #ffffff
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #2A74DB;
    color: #ffffff
}

.link {
    color: #2A74DB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #050c58;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.navbar-text-muted {
    font-family: cursive; /* フォントを cursive に変更 */
    font-size: 1.6rem; /* フォントサイズを変更 */
    font-weight: 700; /* フォントの太さを変更 */
    color: #8F6B00; /* テキストの色を変更 */
}

.not-logged-in {
    color: #000000; /* ここで色を指定します。例として黒色に設定 */
}

.nav-link {
    color: #2A74DB !important; /* 通常時の色 */
    font-weight: normal; /* 通常時のフォントの太さ */
}

.nav-link:hover,
.nav-link.active {
    color: #0A2A5B !important; /* ホバー時とアクティブ時の色をさらに濃くする */
    font-weight: bold; /* ホバー時とアクティブ時のフォントの太さを太字にする */
}

